:root {
	--main-text-color: #212121;
	--sec-text-color: #2196f3;
	--prim-color: #757575;
	--prim-text-color: #ffffff;
	--bg-color: #f5f4fa;
	--bg-color-sec: #2f303a;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 100%;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.header-logo {
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 3%;
	color: var(--main-text-color);
}

.logo {
	color: var(--sec-text-color);
}

header {
	font-weight: 500;
	font-size: 14px;

	letter-spacing: 2%;
}

.header-item {
	color: var(--main-text-color);
}

.header-item:hover {
	color: var(--sec-text-color);
}

.hero {
	background-color: var(--bg-color-sec);
}

.hero h1 {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 6%;
	text-align: center;
	text-transform: uppercase;
	color: var(--prim-text-color);
}

button {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 6%;
	text-align: center;
	vertical-align: middle;
	color: var(--prim-text-color);
	background-color: var(--sec-text-color);
}

.about h3 {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 3%;
	text-transform: uppercase;
}

.about p {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 3%;
	color: var(--prim-color);
}

.about h2 {
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 3%;
	text-align: center;
	color: var(--main-text-color);
}

.about img {
	width: 370;
	height: 294;
	top: 1058px;
	left: 215px;
}

.team {
	background-color: var(--bg-color);
	letter-spacing: 3%;
	text-align: center;
}

.team h2 {
	font-weight: 700;
	font-size: 36px;

	color: var(--main-text-color);
}

.team h3 {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 3%;
	text-align: center;
}

.team p {
	font-weight: 400;
	font-size: 16px;
	color: var(--prim-color);
}

.team img {
	width: 270;
	height: 260;
	top: 1632px;
	left: 215px;
}

.contacts:first-child a {
	text-decoration: none;
	color: var(--prim-text-color);
}
